@charset "utf-8";

// .icon__pickup--white::before { background-image: url(../images/datauri/icon__pickup--white.png); }

ul {
  li {
    & + li {
      margin-top: .4em;
    }
    & > div {
      line-height: 1;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
    }
  }
}
.icon:before {
  display: inline-block;
  width: .6em;
  height: .6em;
  background-size: contain;
  content: "";
  margin-right: 0.6em;
}
.icon__circle::before { background-image: url(../images/circle.png); }
.icon__triangle::before { background-image: url(../images/triangle.png); }
.icon__square::before { background-image: url(../images/square.png); }
